name: rcti

on:

  schedule:

    - cron: '00 00/2 * * *'

  pull_request:

    branches:

      - master

  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

      - name: checkout repo

        uses: actions/checkout@v2

      - name: config

        run: |

          git pull

          git config --global user.email "<>"

          git config --global user.name "<>"

      - name: Update ONLINE

        run: |

          pwd

          mkdir tmp

          wget -U 'okhttp/1.2' -qP tmp https://raw.githubusercontent.com/halakkitach/rajahabang/master/genjet.py

          python3 tmp/rcti.py --channel-name rcti rctiplus.m3u8

          python3 tmp/rcti.py --channel-name mnctv mnctvplus.m3u8

          python3 tmp/rcti.py --channel-name gtv gtvplus.m3u8

          python3 tmp/rcti.py --channel-name inews inewsplus.m3u8

          

          rm -rf tmp

      - name: commit

        run: |

          git add -A

          git commit -m "Update ONLINE"

          git push
