# This is a basic workflow to help you get started with Actions

name: Update Youtube ONLINE

# Controls when the action will run. 
on:
  schedule:
    - cron: '00 00/1 * * *'

  pull_request:
    branches:
      - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      #- name: Run a one-line script
      #  run: echo testing!

      # Runs a set of commands using the runners shell 
      - name: config
        run: |
          git pull
          git config --global user.email "<>"
          git config --global user.name "halakkitach"

      - name: Update ONLINE
        run: |
          pwd
          python3 api/ytlive/index.py --url "https://www.youtube.com/@larvacartoonvietnam6214/live" 03larva.m3u8
          sleep 3
          python3 api/ytlive/index.py --url "https://www.youtube.com/pubgmobileid/live" 03pubgid.m3u8
          sleep 3
          python3 api/ytlive/index.py --url "https://www.youtube.com/@NickToons/live" 03spongebob.m3u8
          sleep 3
          python3 api/ytlive/index.py --url "https://www.youtube.com/@LafadzDoa/live" 03zikirpagiiii.m3u8
          sleep 3
          python3 api/ytlive/index.py --url "https://www.youtube.com/@IshtarMusic/live" 03zarjitenndee.m3u8
          sleep 3
          python3 api/ytlive/index.py --url "https://www.youtube.com/watch?v=yNKvkPJl-tg" 03onee1tv.m3u8
          sleep 3
          python3 api/ytlive/index.py --url "https://www.youtube.com/@matamusik_id/live" 03rremiixxxbarat.m3u8
          sleep 3
          python3 api/ytlive/index.py --url "https://www.youtube.com/watch?v=IWychVZY6Vg&ab_channel=LaguTerbaru" 03popido2000.m3u8
          sleep 3
          python3 api/ytlive/index.py --url "https://www.youtube.com/@ApriNaLdyMusicRemix/live" 03djjido2000.m3u8
          sleep 3
          python3 api/ytlive/index.py --url "https://www.youtube.com/watch?v=IujgQ5AHJhk" 03esportmlbbb.m3u8
          sleep 3
          python3 api/ytlive/index.py --url "https://www.youtube.com/watch?v=k-y94MfRNGA" 03arrc.m3u8
          sleep 3
          python3 api/ytlive/index.py --url "https://www.youtube.com/watch?v=-mr6TD6YxR8" 04madinahtv.m3u8
          sleep 3
          python3 api/ytlive/index.py --url "https://www.youtube.com/watch?v=moQtMet7F7w" 04mekkahtv.m3u8
      
      
      
      
      - name: git add
        run: |
          git add -A
          ls -la

      - name: commit & push
        run: |
          git commit -m "Update Youtube ONLINE"
          git push
