# This is a basic workflow to help you get started with Actions

name: Update ONLINE

# Controls when the action will run. 
on:
  schedule:
    - cron: '30 * * * *'

  pull_request:
    branches:
      - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      #- name: Run a one-line script
      #  run: echo testing!

      # Runs a set of commands using the runners shell 
      - name: config
        run: |
          git pull
          git config --global user.email "<>"
          git config --global user.name "halakkitach"

      - name: update ONLINE
        run: |
          pwd
          python3 api/babamiv/index.py 7464 > 7BABAMI1.m3u8
          sleep 3
          python3 api/babamiv/index.py 7946 > 7UTTUT.m3u8
          sleep 3
          python3 api/babamiv/index.py 206 > 7EMOSIAU.m3u8
          sleep 3
          python3 api/babamiv/index.py 8237 > 7MATEMAHO.m3u8
          sleep 3
          python3 api/babamiv/index.py 8241 > 7komanadani.m3u8
          sleep 3
          python3 api/babamiv/index.py 6482 > 7adongma.m3u8
          sleep 3
          python3 api/babamiv/index.py 205 > 7cupangterbang.m3u8
          sleep 3
          python3 api/babamiv/index.py 204 > 7sitivi.m3u8
          sleep 3
          python3 api/babamiv/index.py 7432 > 7amagnaa.m3u8
          sleep 3
          python3 api/babamiv/index.py 782 > 7enteve.m3u8
          sleep 3
          python3 api/babamiv/index.py 11683 > 7begugajjang1.m3u8
          sleep 3
          python3 api/babamiv/index.py 6686 > 7begugajjang2.m3u8
          sleep 3
          python3 api/babamiv/index.py 6685 > 7begugajjanggg2.m3u8
          sleep 3
          python3 api/babamiv/index.py 7052 > 7bodaat1.m3u8
          sleep 3
          python3 api/babamiv/index.py 6397 > 7bodaat2.m3u8
          sleep 3
          python3 api/babamiv/index.py 6441 > 7pasadabangsainna.m3u8
          sleep 3
          python3 api/babamiv/index.py 6533 > 7bodaat3.m3u8
          sleep 3
          python3 api/babamiv/index.py 12613 > 7BUTTAKGP.m3u8
          pwd
          python3 api/ytlive/index.py --url "https://www.youtube.com/@SMToonAsia/live" 7larvayt.m3u8
          
          
      - name: git add
        run: |
          git add -A
          ls -la

      - name: commit & push
        run: |
          git commit -m "Update ONLINE"
          git push
